@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
body{
    font-family: 'Outfit', sans-serif;
    background: hsl(212, 45%, 89%);
}
.border{
    margin: 30px auto;
    width: 320px;
    height: 493px; ;
    background: hsl(0, 0%, 100%);
    border-radius: 20px;
    box-shadow: 0px 0px 15px 0px hsl(220, 15%, 55%);
}
.image{
    width: 289px;
    height: 286px;
    border-radius: 10px;
    margin: 15px 15px;
}
h2{
    text-align: center;
    color: hsl(218, 44%, 22%);
}
p{
    text-align: center;
    font-size: 13px;
    color: gray;
}